<!DOCTYPE html>
<html>
<head>
    <title>Open-Choice</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Open-Choice</h1>
    </header>
    <main>
        <div>
            <h2>Create Your Poll</h2>
            <form action="/create_poll" method="POST">
                <input id="question" name="question" type="text" placeholder="Enter your question for the poll">
                <div>
                    <input type="checkbox" id="advanced" name="advanced">
                    <label for="advanced">Advanced</label>
                    <div id="customIdBox">
                        <input id="custom_id" name="custom_id" type="text" placeholder="Enter custom ID">
                        <input id="expiration_date" name="expiration_date" type="date" value="{{ default_expiration_date }}">
                    </div>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
    <footer>
        <p>View the project on <a href="https://github.com/stephanevdb/open-choice">GitHub</a></p>
    </footer>
    <script>
        document.getElementById('advanced').addEventListener('change', function() {
            var customIdBox = document.getElementById('customIdBox');
            if (this.checked) {
                customIdBox.style.display = 'block';
            } else {
                customIdBox.style.display = 'none';
            }
        });
    </script>
</body>
</html>