<!DOCTYPE html>
<html>
<head>
    <title>{{ poll[1] }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="has-navbar-fixed-bottom">
        <div class="container has-text-centered mt-5 mb-5">
            <h1 class="title is-1">{{ poll[1] }}e</h1>
        </div>
    <main class="is-flex is-flex-direction-column is-justify-content-space-between">
        <div class="box mt-2 m-4">
            <h2>Options</h2>
            <ul>
                {% for option in options %}
                <li class="mb-3">
                    <span>{{ option[2] }} - {{ option[3] }} votes</span>
                    <form class="vote-form" action="/vote/{{ poll[0] }}/{{ option[0] }}" method="POST">
                        <button class="button is-primary is-dark is-rounded" type="submit">Vote</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            <form action="/add_option/{{ poll[0] }}" method="POST" class="mt-4">
                <input class="input mb-3" id="option" name="option" type="text" placeholder="Enter new option">
                <button class="button is-primary is-dark is-rounded" type="submit">Add Option</button>
            </form>
            <p class="mt-4">
                <a href="#" id="share-link">Share this poll</a>
            </p>
        </div>
    </main>
    <a href="/" class="fab">+</a>
    <script>
        document.querySelectorAll('.vote-form').forEach(form => {
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                fetch(this.action, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message === "You can only vote once per option.") {
                        alert(data.message);
                    } else {
                        window.location.reload();
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });

        document.getElementById('share-link').addEventListener('click', function(event) {
            event.preventDefault();
            const url = window.location.href;
            navigator.clipboard.writeText(url).then(() => {
                alert('Poll URL copied to clipboard!');
            }).catch(err => {
                console.error('Failed to copy: ', err);
            });
        });
    </script>
    <footer class="footer mt-auto">
        <div class="content has-text-centered">
            <p>
                <strong>Open-Choice</strong> by <a href="https://github.com/stephanevdb">Stéphane Van den Broeck</a>.  
                View the project on <a href="https://github.com/stephanevdb/open-choice">GitHub</a>
            </p>
        </div>
    </footer>
</body>
</html>
